@charset "UTF-8";

.title{
	font-family: 'Yusei Magic';
	font-weight: bold;
	text-align: center;
	background-color: darkblue;
	padding: 0px 20px 0px 20px;
	color: yellow;
	width: 65%;
}

div.contentbox{
	box-sizing:content-box;
	width:250px;
	height:250px;
	display:inline-block;
	position:relative;
}

.texto2{
	display:inline-block;
	position:relative;
	font-weight:bold;
	width:700px;
	height:300px;
	bottom:50px
}

.letras1{
	color:yellow;
    line-height:40px;
    background-color:black;
}

.letras2{
	background-color:#48C9B0;
	color:white;
	
	
}